# Logs
logs/

# Python
dist/
build/
__pycache__/
*.pyc
*.egg-info/

# VSCode
.vscode/

# Local development state
.local/
**-checkpoint.ipynb

# Local installs of uv packages
uv.lock

# enviroment variables
.env
.secrets

src/ruter_chatbot/specs/.ipynb_checkpoints/
src/ruter_chatbot/stores/providers/.ipynb_checkpoints/