# Logs
logs/

# Python
dist/
build/
__pycache__/
*.pyc
*.egg-info/

# VSCode
.vscode/

# Local development state
.local/
**-checkpoint.ipynb
**/.ipynb_checkpoints/

# Local installs of uv packages
uv.lock

# enviroment variables
.env
.secrets

